.container {
  width: 100%;

  background-color: #FFFFFF;

  margin: 10px;
  padding: 11px;

  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  user-select: none;
}

.bar {
  height: 6px;
  width: 100%;
}