.container {
  border: 1px solid #ccc;
  max-width: auto;
  max-height: 600px;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.tableContainer {
  max-height: 200px;
}

.tableCell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  background-color: #ea3a3a;
}

.scrollableContent {
  max-height: 300px;
  overflow-y: auto;
  display: block;
}

.scrollableBody {
  display: block;
  max-height: 300px;
  overflow-y: auto;
}

.title {
  font-size: 24px; /* Tamaño de fuente más grande para el título */
  font-weight: bold; /* Negrita */
  text-align: left; /* Centrar el texto */
  margin-top: 20px; /* Espacio encima del título */
  margin-bottom: 10px; /* Espacio debajo del título */
}

.titlePanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  align-items: center;

  background: linear-gradient(90deg, #FFF 38.49%, rgba(222, 250, 240, 0.53) 73.05%, rgba(188, 246, 226, 0.06) 107.62%);
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.state {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}