.mainHeader {
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--divider, rgba(0, 0, 0, 0.12));
  background: #FFFFFF;
}

.header {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  padding-right: 20px;
  padding-left: 20px;
}

.container {
  width: fit-content;
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin: 0%;
}

.currentDate {
  color: rgba(0, 0, 0, 0.38);
  margin: 0%;
}

.childrenContainer {
  display: flex;

  gap: 20px;

  justify-content: center;
  align-items: center;
}