/*Header.module.css*/
.mainHeader {
  width: 100%;
  background: #FFFFFF;
  border-bottom: 1px solid var(--divider, rgba(0, 0, 0, 0.12));
}

.header {
  display: flex;
  justify-content: space-between; /* Separa izquierda y derecha */
  align-items: center; /* Centra los elementos verticalmente */
  padding: 10px 20px;
}

.leftContainer {
  display: flex;
  flex-direction: column; /* Coloca el título y la información de simulación en columnas */
  justify-content: center; /* Centra los elementos verticalmente dentro del contenedor */
  gap: 10px; /* Espaciado entre el título y la información de simulación */
}

.rightContainer {
  display: flex;
  flex-wrap: wrap; /* Permite ajustar botones y selectores si no hay espacio */
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: flex-end; /* Alinea los elementos a la derecha */
  gap: 20px; /* Espaciado entre botones/selectores */
}

.title {
  margin: 0;
}

.childrenContainer {
  display: flex;
  flex-wrap: wrap; /* Permite que los botones se ajusten si no hay espacio */
  align-items: center; /* Centra verticalmente los elementos */
  gap: 10px; /* Espaciado entre botones y selectores */
}

.simulationInfo {
  display: flex;
  flex-direction: column; /* Coloca los textos de simulación en columna */
  gap: 5px; /* Espaciado entre las líneas */
  color: rgba(0, 0, 0, 0.6);
}
