.container {
  background: #ffffff;
  user-select: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 160px;
  gap: 5px;
}

.title {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  justify-content: center;
}

.lista {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: start;
  padding: 0px;
  gap: 5px;
  margin: 0px;
}

.item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.closeButton {
  position: absolute;
  right: 5px;
  top: 5px;
}

/* Botón flotante en la esquina inferior izquierda */
.floatingButton {
  position: absolute;
  bottom: 20px; 
  left: 20px; 
  z-index: 1000;
  background-color: #0056B3; 
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 35px;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.floatingButton:hover {
  background-color: #004494;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Panel emergente */
.panelContainer {
  position: absolute;
  bottom: 80px; /* Justo encima del botón */
  left: 20px;
  animation: fadeIn 0.3s ease-in-out;
  z-index: 999;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
