/*SimulationTimeDisplay.module.css*/

.simulationTimeDisplay {
  display: flex;
  flex-direction: row;
  /* Coloca las secciones principales en columnas */
  align-items: center;
  justify-content: space-between;
  /* Alinea todo a la izquierda */
  /* Espaciado entre filas */
  font: 'Public Sans', sans-serif;
}

.simulationRow {
  display: flex;
  /* Coloca los elementos en una fila */
  gap: 15px;
  /* Espaciado entre "Tiempo de ejecución" y "Tiempo en simulación" */
}

.simulationTimeDisplay span {
  display: flex;
}

.tiempo {
  min-width: 186px;
}